<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Chicago Online</title>
    <link rel="stylesheet" href="vendors/waitme/waitMe.css" rel="stylesheet" />
    <link rel="stylesheet" href="vendors/purecss/pure-min.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

    <body>
    </body>
    <script type="text/template" id="login-template">
        <div class="pure-g">
            <div class="pure-u-1">
                <form class="pure-form pure-form-aligned login">
                    <fieldset>
                        <legend class="relative">Вход
                            <a href="#signup" class="right">Регистрация</a>
                        </legend>
                        <div name="messages"></div>
                        <div class="pure-control-group">
                            <label for="name">Email</label>
                            <input id="name" name="email" type="text" placeholder="Email">
                        </div>

                        <div class="pure-control-group">
                            <label for="password">Пароль</label>
                            <input id="password" name="password" type="password" placeholder="Пароль">
                        </div>

                        <div class="pure-controls">
                            <button type="button" name="send" class="pure-button pure-button-primary">Войти</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <div class="login">
                    <a href="#reset-password" class="">Восстановить пароль</a>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="signup-template">
        <div class="pure-g">
            <div class="pure-u-1">
                <form class="pure-form pure-form-aligned login">
                    <fieldset>
                        <legend class="relative">Регистрация
                            <a href="#login" class="right">Вход</a>
                        </legend>
                        <div name="messages"></div>
                        <div class="pure-control-group">
                            <label for="name">Email</label>
                            <input id="name" name="email" type="text" placeholder="Email">
                        </div>

                        <div class="pure-control-group">
                            <label for="password">Пароль</label>
                            <input id="password" name="password" type="password" placeholder="Пароль">
                        </div>

                        <div class="pure-controls">
                            <button type="button" name="send" class="pure-button pure-button-primary">Зарегистрироваться</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <div class="login">
                    <a href="#reset-password" >Восстановить пароль</a>
                </div>
            </div>
        </div>

    </script>

    <script type="text/template" id="reset-password-template">
        <div class="pure-u-1">
            <form class="pure-form pure-form-aligned login">
                <fieldset>
                    <legend class="relative">Восстановление пароля
                        <a href="#login" class="right">Вход</a>
                    </legend>
                    <div name="messages"></div>
                    <div class="pure-control-group">
                        <label for="name">Email</label>
                        <input id="name" name="email" type="text" placeholder="Email">
                    </div>

                    <div class="pure-controls">
                        <button type="button" name="send" class="pure-button pure-button-primary">Восстановить</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </script>

    <script type="text/template" id="hostitem-template">
        <div class="card">
            <img src="<%- ico %>">
            <%- name %>
            <table class="pure-table pure-table-horizontal">
                <tbody>
                <tr>
                    <td>domain </td>
                    <% if (domain)  { %>
                        <td><%= domain.name %></td>
                    <%  }  else { %>
                    <td>нет информации</td>
                    <% } %>
                </tr>
                <tr>
                    <td>domain </td>
                    <% if (domain)  { %>
                    <td><%= domain.experation_date %></td>
                    <%  }  else { %>
                    <td>нет информации</td>
                    <% } %>
                </tr>
                <tr>
                    <td>url </td>
                    <td><a href="<%= http.url %>" target="_blank"><%= http.url %></a></td>
                </tr>
                <tr>
                    <td>ssl </td>
                    <td><%= http.ssl %></td>
                </tr>
                </tbody>
            </table>
            <div>
                <a href="#host/<%= id %>" class="pure-button pure-button-primary button-xsmall">Доп. информация</a>
            </div>
        </div>
    </script>

    <script type="text/template" id="hostdetailview-template">
        <div class="pure-g">
            <div class="pure-u-1 relative" name="host-list">
                <div class="card">
                    <img src="<%- ico %>">
                    <%- name %>
                    <table class="pure-table pure-table-horizontal">
                        <tbody>
                        <tr>
                            <td>domain </td>
                            <% if (domain)  { %>
                            <td><%= domain.name %></td>
                            <%  }  else { %>
                            <td>нет информации</td>
                            <% } %>
                        </tr>
                        <tr>
                            <td>domain </td>
                            <% if (domain)  { %>
                            <td><%= domain.experation_date %></td>
                            <%  }  else { %>
                            <td>нет информации</td>
                            <% } %>
                        </tr>
                        <tr>
                            <td>url </td>
                            <td><a href="<%= http.url %>" target="_blank"><%= http.url %></a></td>
                        </tr>
                        <tr>
                            <td>ssl </td>
                            <td><%= http.ssl %></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card">
                    Hosting
                    <table class="pure-table pure-table-horizontal">
                        <tbody>
                            <% for (item in hosting) { %>
                                <tr>
                                    <td><%= hosting[item].country.name %></td>
                                    <td><img src="<%= hosting[item].country.ico %>"></td>
                                    <td><%= hosting[item].description %></td>
                                    <td><%= hosting[item].ip %></td>
                                    <td><%= hosting[item].provider.name %></td>
                                    <td><img src="<%= hosting[item].provider.ico %>"></td>
                                    <td><%= hosting[item].provider.domain %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="card">
                    Checks
                    <table class="pure-table pure-table-horizontal">
                        <tbody>
                            <% for (item in checks) { %>
                                <tr>
                                    <td><%= checks[item].updated_date %></td>
                                    <td><%= checks[item].ip %></td>
                                    <td><%= checks[item].elapsed %></td>
                                    <td><%= checks[item].status_code %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="indexview-template">
        <div class="pure-g">
            <div class="pure-u-1 relative">
                <a href="#hostAdd" type="button" name="send" class="pure-button pure-button-primary">Добавить хост</a>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1 relative" name="host-list">
            </div>
        </div>
    </script>

    <script type="text/template" id="hostaddview-template">
        <div class="pure-u-1">
            <form class="pure-form pure-form-aligned login">
                <fieldset>
                    <legend class="relative">Добавление хоста
                    </legend>
                    <div name="messages"></div>
                    <div class="pure-control-group">
                        <label for="host">Host</label>
                        <input id="host" name="host" type="text" placeholder="example.com">
                    </div>

                    <div class="pure-controls">
                        <button type="button" name="send" class="pure-button pure-button-primary">Добавить</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </script>

    <script type="text/template" id="alertbox-template">
        <div class="alert alert-<%=status%>"><%= message %></div>
    </script>
    <script src="vendors/require.js"></script>
    <script src="js/require.config.js"></script>
    <script src="js/app.js"></script>
</html>