<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
        <title>Chicago Online</title>
        <link href="vendors/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="vendors/font-awesome/font-awesome.css" rel="stylesheet" />
        <link href="vendors/pacejs/pace-theme-flash.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    </head>
    <body>
        <div class="navbar navbar-inverse set-radius-zero" >
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/logo.png" />
                    </a>
                </div>
                <!--<div class="right-div">-->
                    <!--<a href="#" class="btn btn-info pull-right">Выйти</a>-->
                <!--</div>-->
            </div>
        </div>
        <!-- LOGO HEADER END-->
        <section class="menu-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- навигация -->
                        <div class="navbar-collapse collapse " name="navbar"></div>
                    </div>

                </div>
            </div>
        </section>
        <!-- MENU SECTION END-->
        <div class="content-wrapper">
            <div class="container" name="container"></div>
        </div>
        <!-- CONTENT-WRAPPER SECTION END-->
        <section class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        &copy; 2018 Chicago Online
                    </div>
                </div>
            </div>
        </section>

        <script type="text/template" id="navbar-auth-tmpl">
            <li><a href="#/login">Войти</a></li>
            <li><a href="#/signup">Зарегистрироваться</a></li>
            <li><a href="#/reset-password">Восстановить пароль</a></li>
        </script>
        <script type="text/template" id="navbar-tmpl">
            <li><a href="#/">Домены</a></li>
            <li><a href="#/sessions">Сессии</a></li>
            <li><a href="#/login">Выйти</a></li>
        </script>
        <script type="text/template" id="login-tmpl">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">Войти</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" name="email" type="email" required/>
                                </div>
                                <div class="form-group">
                                    <label>Пароль</label>
                                    <input class="form-control" name="password" type="password" required/>
                                </div>
                                <button type="button" class="btn btn-info">Войти </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="signup-tml">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">Зарегистрироваться</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" name="email" type="email" required/>
                                </div>
                                <div class="form-group">
                                    <label>Пароль</label>
                                    <input class="form-control" name="password" type="password" required/>
                                </div>
                                <button type="button" class="btn btn-info">Зарегистрироваться </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="reset-password-tml">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">Восстановление пароля</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" name="email" type="email" required/>
                                </div>
                                <button type="button" class="btn btn-info">Восстановить </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="hostitem-tmpl">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="<%- ico %>">
                        <%- name %>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                <tr>
                                    <td>Домен</td>
                                    <% if (domain)  { %>
                                    <td><%= domain.name %></td>
                                    <%  }  else { %>
                                    <td>нет информации</td>
                                    <% } %>
                                </tr>
                                <tr>
                                    <td>Истекает</td>
                                    <% if (domain)  { %>
                                    <td><%= moment(domain.experation_date).format('LLL') %></td>
                                    <%  }  else { %>
                                    <td>нет информации</td>
                                    <% } %>
                                </tr>
                                <tr>
                                    <td>url</td>
                                    <td><a href="<%= http.url %>" target="_blank"><%= http.url %></a></td>
                                </tr>
                                <tr>
                                    <td>ssl</td>
                                    <td><%= moment(http.ssl).format('LLL') %></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="#host/<%= id %>" class="btn btn-info">Дополнительная информация</a>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="host-tmpl">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img src="<%- ico %>">
                            <%- name %>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#main" data-toggle="tab">Основная информация</a></li>
                                <li class=""><a href="#hosting" data-toggle="tab">Хостинг</a></li>
                                <li class=""><a href="#checks" data-toggle="tab">Проверки</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="main">
                                    <br>
                                    <table class="table table-striped table-bordered table-hover">
                                        <tbody>
                                        <tr>
                                            <td>Домен</td>
                                            <% if (domain)  { %>
                                            <td><%= domain.name %></td>
                                            <%  }  else { %>
                                            <td>нет информации</td>
                                            <% } %>
                                        </tr>
                                        <tr>
                                            <td>Истекает</td>
                                            <% if (domain)  { %>
                                            <td><%= moment(domain.experation_date).format('LLL') %></td>
                                            <%  }  else { %>
                                            <td>нет информации</td>
                                            <% } %>
                                        </tr>
                                        <tr>
                                            <td>url</td>
                                            <td><a href="<%= http.url %>" target="_blank"><%= http.url %></a></td>
                                        </tr>
                                        <tr>
                                            <td>ssl</td>
                                            <td><%= moment(http.ssl).format('LLL') %></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="hosting">
                                    <br>
                                    <table class="table table-striped table-bordered table-hover">
                                        <tbody>
                                        <% for (item in hosting) { %>
                                        <tr>
                                            <td><%= hosting[item].country.name %></td>
                                            <td><img src="<%= hosting[item].country.ico %>"></td>
                                            <td><%= hosting[item].description %></td>
                                            <td><%= hosting[item].ip %></td>
                                            <td><%= hosting[item].provider.name %></td>
                                            <td><img src="<%= hosting[item].provider.ico %>"></td>
                                            <td><%= hosting[item].provider.domain %></td>
                                        </tr>
                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="checks">
                                    <br>
                                    <table class="table table-striped table-bordered table-hover">
                                        <tbody>
                                        <% for (item in checks) { %>
                                        <tr>
                                            <td><%= moment(checks[item].updated_date).format('LLL') %></td>
                                            <td><%= checks[item].ip %></td>
                                            <td><%= checks[item].elapsed %></td>
                                            <td><%= checks[item].status_code %></td>
                                        </tr>
                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="host-add-tmpl">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">Добавление домена</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label>Домен</label>
                                    <input class="form-control" name="host" type="text" required/>
                                </div>
                                <button type="button" class="btn btn-info">Добавить </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </script>
        <script type="text/template" id="indexview-tmpl">
            <div class="row">
                <div class="right-div">
                    <a href="#/hostAdd" class="btn btn-info pull-right">Добавить</a>
                </div>
            </div>
            <div class="row" name="host-list"></div>
        </script>
        <script type="text/template" id="session-tmpl">

        </script>
        <script src="vendors/require.js"></script>
        <script src="js/require.config.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
